body {
    margin: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
}

.logo {
  height: 60px;
  position: absolute;
  left: 0;
  top: 5px;
}
.responsive-page {
    width: 100%;
    margin: 0 auto
}

.responsive-container {
    max-width: 1100px;
    width: 90%;
    margin: auto
}

.topnav {
    list-style: none! margin: 0;
    font-family: "RobotoCondensed";
    color: #455a64;
}

.topnav li {
    display: inline-block;
    margin: 20px;
    font-size: 22px;
    float: right;
}

.topnav li.icon {
    display: none;
}

/* When the screen is less than 750 pixels wide, hide all list items, 
except for the last one (logo). Show the list item that contains the link to open and 
close the topnav (li.icon) */
@media screen and (max-width:750px) {
  .topnav li:not(:last-child) {display: none;}
  .topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the nav with JavaScript when the user clicks on the icon. 
This class makes the nav look good on small screens */
@media screen and (max-width:750px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li {
    float: none;
    display: inline;
  }
  .topnav.responsive li a {
    display: block;
    text-align: center;
  }
}

.m-t-100 {
  margin-top: 100px;
}

.clear {
    clear: both;
}

.align-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

@font-face {
    font-family: "Helvetica";
    src: url('../fonts/Helvetica/Helvetica.otf') format("opentype");
}

@font-face {
    font-family: "RobotoCondensed";
    src: url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Rampung";
    src: url('../fonts/Rampung/Rampung.ttf') format("truetype");
}

.capture-it {
    font-family: "CaptureIt";
}

h1 {
    font-size: 3em;
    font-family: "Rampung";
    text-transform: uppercase;
    font-weight: 400;
}

h2 {
    font-family: "RobotoCondensed";
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 400;
}

p {
    font-family: "RobotoCondensed";
    font-size: 2em;
    line-height: 1.4em;
}

.b-f {
  font-family: "RobotoCondensed";
  font-size: 2em;
  line-height: 1.4em;
}

.s-y-t {
  padding: 5px 7px 5px 7px;
  border: 2px white solid;
  border-radius: 5px;
}

span.s-y-t:hover {
  background: white;
  cursor: pointer;
  transition: all 500ms ease;
}

span.s-y-t a {
  color: white;
}

span.s-y-t a:hover {
  color: #aed581;
}

.cover {
    position: relative;
    z-index: 1;
}

.inline-block {
  display: inline-block;
}

.heading-block {
    color: #546e7a;
}

.circle {
    width: 250px;
    height: 250px;
    font-family: "RobotoCondensed";
    background: white;
    border-radius: 50%;
    float: left;
    position: absolute;
    top: 50px;
    text-align: center;
    font-size: 3em;
    left: 180px;
    line-height: 5em;
    color: #ccc;
    z-index: 10;
    font-weight: 600;
}

.first-fold {
    min-height: 90vh;
}

.second-fold {
    padding: 30px;
    min-height: 600px;
    background: #1B0F0C;
    color: #fff;
    position: relative;
    z-index: 10;
}

.second-fold img {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    width: 25%;
}

.skew-up {
    width: 100%;
    background: #fff;
    height: 150px;
    float: left;
    position: absolute;
    transform: skew(0deg, 2deg);
    z-index: 1;
}

.skew-down {
    width: 100%;
    background: #fff;
    height: 150px;
    float: left;
    position: absolute;
    transform: skew(0deg, -2deg);
    z-index: 1;
}

.third-fold .fold-1 {
    min-height: 500px;
    color: #fff;
    position: relative;
}

.third-fold .fold-1 {
    top: -100px;
}

.third-fold .fold-1 .white-fold {
    position: relative;
    z-index: 0;
    background: #FFFFFF;
    top: 160px;
}

.third-fold .fold-1 .green-fold {
    position: relative;
    z-index: 0;
    background: #AED581;
    top: 160px;
}

.third-fold .fold-1 .yellow-fold {
    position: relative;
    z-index: 0;
    background: #ffff8d;
    color: #9ca3a8;
    top: 160px;
}

.white-fold .skew-down {
    top: -30px;
}

.green-fold .skew-up {
    top: -90px;
}

.green-fold .circle,
.venue-fold .circle {
  right: 100px;
  top: -100px;
  left: inherit;
}

.yellow-fold .skew-down {
  top: -115px;
}
.content {
    width: 50%;
    padding: 150px 100px;
}

.parallax-container {
    position: fixed;
    overflow: visible;
    width: 100%;
    height: 100vh;
}

.parallax-layer {
    width: 100%;
    height: 79vh;
    position: fixed;
    left: 0;
    top: 0;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% 500px;
}

.layer-0 {
    top: 0;
    z-index: 5;
    background: #fefefe url('../images/sun.png') no-repeat top 40px center;
    background-size: 120px 138.5px;
}

.layer-1 {
    top: 160px;
    z-index: 10;
    background-image: url('../images/shaniwarwada.png');
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 20;
}

.layer-2 {
    /*top: -50px;*/
    z-index: 10;
    top: 160px;
    background-image: url('../images/rock4.png');
}

.layer-3 {
    /*top: -10px;*/
    z-index: 15;
    top: 160px;
    background-image: url('../images/rock3.png');
}

.layer-4 {
    /*top: 65px;*/
    z-index: 20;
    top: 160px;
    background-image: url('../images/rock2.png');
}

.layer-5 {
    /*top: 160px;*/
    top: 160px;
    z-index: 25;
    background-image: url('../images/rock1.png');
}

.nav a {
  text-decoration: none;
  color: #455a64;
  cursor: pointer;
}

.nav h1 {
  font-family: "Rampung";
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 600;
}

.nav h2 {
  font-family: "Rampung";
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 400;
}

/* Third Fold */

.third-fold .white-fold img {
  height: 150px;
  width: 150px;
  border-radius: 80px;
}

.third-fold .speaker-info {
  width: 70%;
  font-size: 0.7em;
  margin-left: 30px;
  vertical-align: text-bottom;
  color: #585757;
}

.third-fold .s-left {
  padding-right: 145px;
  position: relative;
}

.third-fold .s-right {
  padding-left: 145px;
  position: relative;
}

.third-fold .oval {
  width: 40px;
  height: 70px;
  border-radius: 40px / 60px;
  position: absolute;
  top: 1.4em;
  right: 8em;
  z-index: -1;
}

.third-fold .pink {
  background: pink;
}

.third-fold .blue {
  background: #8de8ff;
}

.third-fold .yellow {
  background: #ffff8d;
}

.third-fold h3 {
  font-family: "RobotoCondensed";
  font-size: 20px;
  font-weight: 400;
}

.third-fold .line {
  width: 13em;
  border-bottom: 12px solid #aed581;
  position: absolute;
  left: 3em;
  z-index: -1;
}

.third-fold .left-line {
  top: 13em;
  -webkit-transform: rotate(60deg);
}

.third-fold .tf.skew-down {
  height: 200px;
}

.third-fold .right-line {
  bottom: 13em;
  -webkit-transform: rotate(-60deg);
}

.third-fold .speakers-block {
  padding: 100px 0px;
}

.speaker p {
  font-size: 17px;
}

.green-fold .content,
.yellow-fold .content {
  width: 55%;
  padding: 230px 225px;
}

#ds-venue, #cf-venue {
  height: 500px;
  width: 50%;
  float:left;
  z-index: 0;
  margin-top: 115px;
}

.yellow-fold .circle {
  top: -150px;
}

.sponsors-fold {
  position: relative;
  min-height: 500px;
  top: 160px;
  text-align: center;
  background: white;
  color: black;
}

.sponsors-fold .b-f {
  font-size: 3em;
}

.p-t-100 {
  padding-top: 100px;
}

.sponsors-fold .button {
  background-color: white;
  border: 1px solid #9a9a9a;
  color: #7d7d7d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 25px;
}

/*.sponsors-fold .button:hover {
  transition: all 500ms ease;
  background-color: #9a9a9a;
  color:white !important;
}*/

.sponsors-fold a {
  color: #7d7d7d;
}

.footer {
  background: white;
  position: relative;
}

.footer img {
  width: 100%;
}

.third-fold {
  height: 100px;
}

.extended-footer {
  position: relative;
  color: black;
  background-color: #3e2723;
  margin: 0;
  top: -4px;
  min-height: 150px;
}

.f-w {
  color: white;
  font-size: 1em;
  margin-top: 10px;
}

.organized {
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
}

.venue-fold {
  height: 455px;
  position: relative;
}

.venue-fold .circle {
  top: -35px;
}
