body {
    margin: 0;
    box-sizing: border-box;
}

.responsive-page {
    width: 100%;
    margin: 0 auto
}

.responsive-container {
    max-width: 1100px;
    width: 90%;
    margin: auto
}

.nav {
    list-style: none! margin: 0;
    font-family: "RobotoCondensed";
    color: #455a64;
}

.nav li {
    display: inline-block;
    margin: 20px;
    font-size: 22px;
    float: right;
}

.m-t-100 {
  margin-top: 100px;
}

.clear {
    clear: both;
}

.align-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

@font-face {
    font-family: "Helvetica";
    src: url('../fonts/Helvetica/Helvetica.otf') format("opentype");
}

@font-face {
    font-family: "RobotoCondensed";
    src: url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Rampung";
    src: url('../fonts/Rampung/Rampung.ttf') format("truetype");
}

.capture-it {
    font-family: "CaptureIt";
}

h1 {
    font-size: 3em;
    font-family: "Rampung";
    text-transform: uppercase;
    font-weight: 400;
}

h2 {
    font-family: "RobotoCondensed";
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 400;
}

p {
    font-family: "RobotoCondensed";
    font-size: 2em;
    line-height: 1.4em;
}

.cover {
    position: relative;
    z-index: 1;
}

.inline-block {
  display: inline-block;
}

.heading-block {
    color: #546e7a;
}

.circle {
    width: 250px;
    height: 250px;
    font-family: "RobotoCondensed";
    background: white;
    border-radius: 50%;
    float: left;
    position: absolute;
    top: 50px;
    text-align: center;
    font-size: 3em;
    left: 180px;
    line-height: 5em;
    color: #ccc;
    z-index: 10;
    font-weight: 600;
}

.first-fold {
    min-height: 600px;
}

.second-fold {
    padding: 30px;
    min-height: 600px;
    background: #1B0F0C;
    color: #fff;
    position: relative;
    z-index: 10;
}

.second-fold img {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    width: 25%;
}

.skew-up {
    width: 100%;
    background: #fff;
    height: 200px;
    float: left;
    position: absolute;
    transform: skew(0deg, 2deg);
    z-index: 1;
}

.skew-down {
    width: 100%;
    background: #fff;
    height: 250px;
    float: left;
    position: absolute;
    transform: skew(0deg, -2deg);
    z-index: 1;
}

.third-fold .fold-1 {
    min-height: 500px;
    color: #fff;
    position: relative;
}

.third-fold .fold-1 {
    top: -100px;
}

.third-fold .fold-1 .white-fold {
    position: relative;
    z-index: 0;
    background: #FFFFFF;
    top: 160px;
}

.third-fold .fold-1 .green-fold {
    position: relative;
    z-index: 0;
    background: #AED581;
    top: 160px;
}

.third-fold .fold-1 .yellow-fold {
    position: relative;
    z-index: 0;
    background: #ffff8d;
    color: #9ca3a8;
    top: 160px;
}

.white-fold .skew-down {
    top: -30px;
}

.green-fold .skew-up {
    top: -90px;
}

.green-fold .circle {
  right: 50px;
  top: -100px;
  left: inherit;
}

.yellow-fold .skew-down {
    top: -120px;
    height: 200px;
}

.yellow-fold .circle {
  top: -120px;
}

.content {
    width: 50%;
    padding: 150px 100px;
}

.parallax-container {
    position: fixed;
    overflow: visible;
    width: 100%;
    height: 850px;
}

.parallax-layer {
    width: 100%;
    height: 500px;
    position: fixed;
    left: 0;
    top: 0;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 1300px 300px;
}

.layer-0 {
    top: 0;
    z-index: 5;
    background: #fefefe url('../images/sun.png') no-repeat top 40px center;
    background-size: 120px 138.5px;
}

.layer-1 {
    top: 160px;
    z-index: 10;
    background-image: url('../images/shaniwarwada.png');
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 20;
}

.layer-2 {
    /*top: -50px;*/
    z-index: 10;
    top: 160px;
    background-image: url('../images/rock4.png');
}

.layer-3 {
    /*top: -10px;*/
    z-index: 15;
    top: 160px;
    background-image: url('../images/rock3.png');
}

.layer-4 {
    /*top: 65px;*/
    z-index: 20;
    top: 160px;
    background-image: url('../images/rock2.png');
}

.layer-5 {
    /*top: 160px;*/
    top: 160px;
    z-index: 25;
    background-image: url('../images/rock1.png');
}

.nav a {
  text-decoration: none;
  color: #455a64;
  cursor: pointer;
}

.nav h1 {
  font-family: "Rampung";
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 600;
}

.nav h2 {
  font-family: "Rampung";
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 400;
}

/* Third Fold */

.third-fold .white-fold img {
  height: 150px;
  width: 150px;
  border-radius: 80px;
}

.third-fold .speaker-info {
  width: 70%;
  font-size: 0.7em;
  margin-left: 30px;
  vertical-align: text-bottom;
  color: #585757;
}

.third-fold .s-left {
  padding-right: 145px;
  position: relative;
}

.third-fold .s-right {
  padding-left: 145px;
  position: relative;
}

.third-fold .oval {
  width: 40px;
  height: 70px;
  border-radius: 40px / 60px;
  position: absolute;
  top: 1.4em;
  right: 8em;
  z-index: -1;
}

.third-fold .pink {
  background: pink;
}

.third-fold .blue {
  background: #8de8ff;
}

.third-fold .yellow {
  background: #ffff8d;
}

.third-fold h3 {
  font-family: "RobotoCondensed";
  font-size: 2.5em;
  font-weight: 400;
}

.third-fold .line {
  width: 13em;
  border-bottom: 12px solid #aed581;
  position: absolute;
  left: 3em;
  z-index: -1;
}

.third-fold .left-line {
  top: 13em;
  -webkit-transform: rotate(60deg);
}

.third-fold .right-line {
  bottom: 13em;
  -webkit-transform: rotate(-60deg);
}

.third-fold .speakers-block {
  padding: 100px 0px;
}
