{% extends "inner_site_base.html" %}

{% load staticfiles %}

{% block extraheader %}
    <link href='{% static "css/tickets/ticket.css" %}' rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Ticket v0 Section -->
    <section id="ticket" class="content-section text-center"
      style="color: black; background-color:white;
      width:100%;padding-bottom:5em">
        <div class="row container" style="margin:auto; text-align: left;">
          <div class="col-lg-12">
            <h2 class="no-text-transform">Login for PyCon Pune {{ CONFERENCE_YEAR }}</h2>
            <div class="divider"></div>
            <form class="form-horizontal" action="{% url 'account_login' %}" method="POST">{% csrf_token %}
              <div class="form-group">
                <label class="col-sm-2 control-label" for="email">Email</label>
                <div class="col-sm-6">
                  <input type="text" id="id_email" name="email" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="password">Password</label>
                <div class="col-sm-6">
                  <input type="password" id="id_password" name="password" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                  <button type="submit" class="btn btn-primary">Log me in!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </section>
{% endblock %}