{% extends 'base/base_ot.html' %}

{% block title %}| Registration {% endblock %}
{% block body %}
{{ header.render_header() }}
<div class="third-fold">
  <div class="fold-1">
    <div class="white-fold">
      <div class="responsive-container">
        <h2 class='f-c no-text-transform'>Register for PyCon Pune 2017</h2>
        <div class="underline"></div>
        <div class="segment" style="line-height: 0px; margin-bottom: 0px; padding: 0px;">
          <div class="row">
            <div style="color: red; margin-top: 15px">* Ticket prices will increase from 1st January, 2017.</div>
          </div>
        </div>
        <div class="segment override-a-no-color-change" style="padding: 50px 0;">
          <div class="row">
            <div class="col col-6">
              <div class="col-text ticket-title">Conference Ticket</div>
              <div class="col-text gray">This ticket includes 2-day of the main conference, 16th and 17th February 2017</div>
            </div>
            <div class="col col-2">
              <div class="col-text center">₹<span class="ticket-price">800</span></div>
            </div>
            <div class="col col-2">
              <a class="register-link" style="text-decoration: none" target="_blank" href="https://www.instamojo.com/pyconpune/pycon-pune-conference-ticket/"><div class="col-text center register-btn">Register</div></a>
            </div>
          </div>
          <div class="row">
            <div class="col col-6">
              <div class="col-text ticket-title">Supporter Ticket</div>
              <div class="col-text gray">Friends of PyCon. You would be supporting the conference to be affordable for everyone. 16th-19th February 2017</div>
            </div>
            <div class="col col-2">
              <div class="col-text center">₹<span class="ticket-price">5000</span></div>
            </div>
            <div class="col col-2">
              <a class="register-link" style="text-decoration: none" target="_blank" href="https://www.instamojo.com/pyconpune/pycon-pune-2017-supporter-ticket/"><div class="col-text center register-btn">Register</div></a>
            </div>
          </div>
          <div class="row">
            <div class="col col-6">
              <div class="col-text ticket-title disabled">Conference & Dev Sprint Ticket</div>
              <div class="col-text disabled">This ticket includes 2-day of the main conference and 2-days of devsprint, 16th-19th February 2017</div>
            </div>
            <div class="col col-2">
              <div class="col-text center disabled">₹<span class="ticket-price">1400</span></div>
            </div>
            <div class="col col-2">
              <div class="register-link"><div class="col-text center disabled disabled-btn">Sold Out!</div></div>
            </div>
          </div>
          <p>If you are looking for hotels, you can find a few suggestions <a href="/hotels/">here</a></p>.
        </div>
      </div>
    </div>

    {{ footer.render_footer() }}
  </div>
</div><!-- third-fold -->
{% endblock %}
