.razorpay-payment-button {
        padding: 12px 20px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        border: 2px solid #333;
        text-decoration: none;
        transition: .2s ease-in;
        color: #333;
        border-radius: 0;
        background-color: white;
}
.razorpay-payment-button:hover {
    background-color: #333;
    color: white;
}

.errorlist {
    color: #e74c3c;
}
.ticket {
    cursor: pointer;
}
.ticket-divider {
    margin: 1.5rem 3rem 0 3rem;
    padding: 1.5rem 0;
    border-top: 1px solid #ededed;
}
.ticket-inner {
    border: .5em solid rgb(49, 102, 163);
    min-height: 30em;
    height: 80vh;
}
.ticket-inner:hover {
    border: .5em solid #ffd646;
}
.ticket-inner.active {
    border: .5em solid #ffd646;
}
.control-label.required:after {
  content:"*";
  color:red;
}
.card-header h4 a {
    color: white;
}
.ticket-title {
    font-size: 2.5rem;
}
#ticket-row-1 .ticket-title {
    min-height: 5em;
}
.price, .tax-price, .total-price {
    text-align: right;
    margin-right: 0;
    padding-right: 0;
}
.ticket-description {
    min-height: 12em;
}
.ticket-row {
    margin-top: 3em;
}
.ticket-disabled {
    opacity: 0.1;
}
.navbar-custom {
    background: black;
}
.clear {
    clear: both;
}
.no-margin {
    margin: 0;
}
.card-header {
    padding:1em;
    background-color: rgb(49, 102, 163);
}
.mb-3 {
    margin-bottom: 3em;
}
