{% macro render_nav(test='') %}
	<ul class="topnav" id="topNav">
        <li class="icon">
          <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
        </li>
        <li><a href="#about">About</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
        <li><a href="#venue">Venue</a></li>
        <li><a href="#sprints">Sprints</a></li>
        <li><a href="#cfp">Talks</a></li>
        <li><a href="https://www.python.org/psf/">PSF</li>
        <li><a href="https://github.com/PyConPune/website/blob/master/code-of-conduct.md">CoC</a></li>
        <li><a href="/"><img class="logo" src="../images/logo.png"></a></li>
    </ul>
{% endmacro %}