{% macro render_nav(test='') %}
	<ul class="topnav" id="topNav">
        <li class="icon">
          <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
        </li>
        <li><a href="{{ url }}/#about">About</a></li>
        <li><a href="{{ url }}/#sponsors">Sponsors</a></li>
        <li><a href="{{ url }}/#venue">Venue</a></li>
        <li><a href="{{ url }}/#sprints">Sprints</a></li>
        <li><a href="{{ url }}/#schedule">Schedule</a></li>
        <li><a href="{{ url }}/cancellation/">Cancellation</a></li>
        <li><a href="{{ url }}/hotels/">Hotels</a></li>
        <li><a href="https://www.python.org/psf/">PSF</li>
        <li><a href="{{ url }}/CoC">CoC</a></li>
        <li><a href="/"><img class="logo" src="{{ url }}/images/logo.png"></a></li>
    </ul>
{% endmacro %}
