{% extends 'site_base.html' %}
{% load staticfiles %}

{% block body %}
    <!-- About PyCon section -->
    <section class="no-margin section-padding float-left full-width" id="about_pycon">
        <div class="full-width">
            <div class="col-960 col-center full-height">
                <div>
                    <h2>About PyCon</h2>
                    <p class="standard-margin-top">
                        PyCon, the gathering for the community using and developing
                the open-source Python programming language. During PyCon Pune, the community will meet for two days of talks and work on upstream projects in two days of dev sprint.
                    </p>
                </div>
                <div class="schedule-block">
                    <div class="gray-bg">
                        <p class="schedule-date">8-9</p>
                        <p class="schedule-month blue-bg text-white">February</p>
                    </div>
                    <div>
                        <p class="schedule-heading">Talk</p>
                        <p class="schedule-brief">Dozens of talks chosen by the community</p>
                    </div>
                </div>
                <div class="schedule-block">
                    <div class="gray-bg">
                        <p class="schedule-date">10-11</p>
                        <p class="schedule-month blue-bg text-white">February</p>
                    </div>
                    <div>
                        <p class="schedule-heading">Dev Sprint</p>
                        <p class="schedule-brief">Team up to work on upstream projects</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--<div class="about-section-image" style="background-image: url(https://s-media-cache-ak0.pinimg.com/736x/94/26/d9/9426d98a6604fe95f68258963427dc24&#45;&#45;flower-line-drawings-line-drawing-floral.jpg' %})"></div>-->
    </section>

    <!-- About Pune section -->
    <section class="no-margin section-padding gray-bg float-left full-width" id="about_pune">
        <div class="full-width">
            <div class="col-960 col-center full-height">
                <div>
                    <h2>About Pune</h2>
                    <p class="standard-margin-top">
                        Pune, also called Poona, city, west-central Maharashtra state, western India, at the junction of the Mula and Mutha rivers. Called “Queen of the Deccan”. Pune has long been a major educational and cultural centre; former prime minister Jawaharlal Nehru referred to it as the “Oxford and Cambridge of India”.
                    </p>
                </div>

                <div>
                    <h2>Places to see near Pune</h2>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="thumbnail gray-bg no-borders">
                                <a href="https://www.holidify.com/places/pune/aga-khan-palace-sightseeing-3297.html">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Pune_Palace.jpg/1200px-Pune_Palace.jpg" alt="Aga Khan Palace" style="width:100%">
                                    <div class="caption">
                                        <h4 class="text-center">Aga Khan Palace</h4>
                                        <p>
                                            Aga Khan Palace is well known both for its architectural excellence as well as its historical significance. Spread over a vast land of 19 acres, the palace is now the headquarters of the Gandhi National memorial society.
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="thumbnail gray-bg no-borders">
                                <a href="https://www.holidify.com/places/pune/shaniwar-wada-sightseeing-3313.html">
                                    <img src="http://3.bp.blogspot.com/-sGlFeg8y6wg/VPBVUb3Ds1I/AAAAAAAAAqY/1GSg8HDXOmM/s1600/Shaniwar%2BWada%2Bentry%2Bgate.jpg" alt="Shaniwar Wada" style="width:100%">
                                    <div class="caption">
                                        <h4 class="text-center">Shaniwar Wada</h4>
                                        <p>
                                            Standing tall in its full glory, Shaniwar Wada was once a stately mansion. Built as a dwelling for Peshwas, its foundation was laid by Bajirao I in year 1730 AD. Today it gives a chance to peak into its great past.
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="thumbnail gray-bg no-borders">
                                <a href="https://www.holidify.com/places/pune/osho-ashram-sightseeing-3307.html">
                                    <img src="http://img1.holidayiq.com/images/attractions/Osho_Ashram_Pune_9736.jpg" alt="Osho Ashram" style="width:100%">
                                    <div class="caption">
                                        <h4 class="text-center">Osho Ashram</h4>
                                        <p>
                                            It's a tranquil place which brings you to you own centers of peace and meditation. The ideologies of Osho also can be found here. This is a wonderful place to hunt for the meaning we tend to look for in our everyday lives.
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="clearfix"></div>
            <a class="btn btn-default btn-lg" href="{% url 'traveling' %}">See more information about travelling to Pune</a>
        </div>
    </section>

    <!-- About PyCon section -->
    <section class="no-margin section-padding float-left full-width" id="about_pycon">
        <div class="full-width">
            <div class="col-960 col-center full-height">
                <div>
                    <h2>Venue</h2>
                    <p class="standard-margin-top">
                        Amanora The Fern Hotels and Club
                        This palatial hotel with a columned facade, sprawling grounds and a lake is 9 km from Aga Khan Palace, an 1892 landmark honouring Gandhi. Pune Airport is 11 km away.
                        Haute rooms with balconies feature flat-screens, minibars and tea and coffeemaking facilities; upgraded rooms add free Wi-Fi. Suites have separate living rooms and exclusive lounge access. Room service is offered 24/7.
                    </p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 google-maps
                ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.237602016919!2d73.93952795009344!3d18.518161987348577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c22161862853%3A0x5ed70272d869e104!2sAmanora+The+Fern+Hotels+and+Club!5e0!3m2!1sen!2sin!4v1500404348864" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
{% endblock %}
