{% extends 'site_base.html' %}
{% load staticfiles %}

{% block body %}
    <section class="no-margin no-padding">
        <div class="hero-container full-width"
             style="background-image: url({% static 'img/header.jpg' %})">
            <div class="col-960 col-center full-height">
                <div class="content-box text-white standard-padding blue-translucent-bg">
                    <h1 class="inline-block">PyCon <span class="text-primary">Pune</span></h1>
                    <h3 class="text-white standard-margin-top">
                        February 08 - 11, 2018 @ Amanora The Ferns Hotel and Club, Pune
                    </h3>
                    <a href="#" class="inline-block standard-margin-top">
                        <button class="btn btn-primary buy-tickets-btn">Registrations Starting Soon!!</button>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

    <!-- About section -->
    <section class="no-margin section-padding float-left full-width" id="about">
        <div class="full-width">
            <div class="col-960 col-center full-height">
                <div>
                    <h2>About PyCon</h2>
                    <p class="standard-margin-top">
                        PyCon, the gathering for the community using and developing
                the open-source Python programming language. During PyCon Pune, the community will meet for two days of talks and work on upstream projects in two days of dev sprint.
                    </p>
                </div>
                <div class="schedule-block">
                    <div class="gray-bg">
                        <p class="schedule-date">8-9</p>
                        <p class="schedule-month blue-bg text-white">February</p>
                    </div>
                    <div>
                        <p class="schedule-heading">Talk</p>
                        <p class="schedule-brief">Dozens of talks chosen by the community</p>
                    </div>
                </div>
                <div class="schedule-block">
                    <div class="gray-bg">
                        <p class="schedule-date">10-11</p>
                        <p class="schedule-month blue-bg text-white">February</p>
                    </div>
                    <div>
                        <p class="schedule-heading">Dev Sprint</p>
                        <p class="schedule-brief">Team up to work on upstream projects</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--<div class="about-section-image" style="background-image: url(https://s-media-cache-ak0.pinimg.com/736x/94/26/d9/9426d98a6604fe95f68258963427dc24&#45;&#45;flower-line-drawings-line-drawing-floral.jpg' %})"></div>-->
    </section>

    <!-- Speaker Section -->
    <section class="no-margin section-padding float-left full-width gray-bg" id="speakers">
        <div class="full-width">
            <div class="col-960 col-center full-height">
                <div>
                    <h2>Keynote Speakers</h2>
                    <p class="standard-margin-top">
                        Pycon is not focused on any particular language or area of technology. We encourage diverse topics oriented towards the future of Computer Science.
                    </p>
                </div>
                <div class="image-block-container">
                    <div class="image-block">
                        <img class="speaker-image" src="{% static 'img/brettcannon.jpeg' %}"/>
                        <div class="speaker-name float-left blue-bg text-white full-width">Brett Cannon</div>
                        <div class="clearfix"></div>
                        <p class="speaker-title float-left blue-bg text-white full-width">CPython Core Dev, Microsoft</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://twitter.com/brettsky"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/brettcannon"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="image-block">
                        <img class="speaker-image" src="{% static 'img/carolwilling.jpeg' %}"/>
                        <div class="speaker-name float-left blue-bg text-white full-width">Carol Willing</div>
                        <div class="clearfix"></div>
                        <p class="speaker-title float-left blue-bg text-white full-width">CPython Core Dev, Project Jupyter</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://twitter.com/WillingCarol"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/willingc"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="image-block">
                        <img class="speaker-image" src="{% static 'img/ntoll.jpeg' %}"/>
                        <div class="speaker-name float-left blue-bg text-white full-width">Nicholas Tollervey</div>
                        <div class="clearfix"></div>
                        <p class="speaker-title float-left blue-bg text-white full-width">Micro:bit, mu editor</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://twitter.com/ntoll"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/ntoll"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="image-block-container">
                    <div class="image-block">
                        <img class="speaker-image" src="{% static 'img/paulh.jpeg' %}"/>
                        <div class="speaker-name float-left blue-bg text-white full-width">Paul Hildebrandt</div>
                        <div class="clearfix"></div>
                        <p class="speaker-title float-left blue-bg text-white full-width">Senior Engineer, Walt Disney Animation Studios (WDAS)</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://twitter.com/paulhildebrandt"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/paulhildebrandt"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="image-block">
                        <img class="speaker-image" src="{% static 'img/pauleveritt.jpg' %}"/>
                        <div class="speaker-name float-left blue-bg text-white full-width">Paul Everitt</div>
                        <div class="clearfix"></div>
                        <p class="speaker-title float-left blue-bg text-white full-width">PyCharm & WebStorm Developer Advocate, JetBrains</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://twitter.com/paulweveritt"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/pauleveritt"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="image-block">
                        <img class="speaker-image" src="{% static 'img/andrewg.jpeg' %}"/>
                        <div class="speaker-name float-left blue-bg text-white full-width">Andrew Godwin</div>
                        <div class="clearfix"></div>
                        <p class="speaker-title float-left blue-bg text-white full-width">Django Core Developer, Engineer at Eventbrite</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://twitter.com/andrewgodwin"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/andrewgodwin"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

    <!-- Sponsor Section -->
    <section class="no-margin section-padding float-left full-width" id="sponsor">
        <div class="full-width">
            <div class="col-960 col-center full-height">
                <div>
                    <h2>Sponsors</h2>
                    <p class="standard-margin-top">
                        PyCon Pune is entirely driven by volunteers. Sponsoring the
                        event helps to sustain, grow the conference along with the
                        community. Sponsors help to make the conference affordable for
                        community, and maintaining the inventory for the
                        conference.
                    </p>
                </div>
                <div class="align-center">
                    <a href="mailto:pyconpune@python.org?subject=Sponsor for PyCon Pune 2018" class="inline-block standard-margin-top">
                        <button class="btn btn-primary buy-tickets-btn">Become a Sponsor</button>
                    </a>
                </div>
                <div class="sponsor-logo-container">
                    <div class="sponsor-logo">
                        <img src="{% static 'img/RedHat.png' %}" alt="Redhat Logo">
                    </div>
                    <div class="sponsor-logo">
                        <img src="{% static 'img/psf.png' %}" alt="PSF Logo" style="margin-top: 10px;">
                    </div>
                    <div class="sponsor-logo">
                        <img src="{% static 'img/travisci.png' %}" alt="Travis Logo">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

    <!-- Collage section -->
    <section class="no-margin float-left full-width gray-bg collage-container">
        <div class="collage-quote">
            <div class="quote1">Python back in time</div>
            <div class="quote2">Follow us on twitter @pyconpune</div>
        </div>
        <div class="full-width collage">
            <div class="collage-block-1">
                <img src="{% static 'img/3.jpg' %}" style="width:300px;margin-bottom: 3px;" alt="">
                <img src="{% static 'img/10.jpg' %}" style="width:500px;" alt="">
            </div><!--
            --><div class="collage-block-horizontal">
                <div class="collage-block-2">
                    <img src="{% static 'img/1.jpg' %}" style="width:380px;" alt="">
                    <div class="collage-block-vertical">
                        <img src="{% static 'img/4.jpg' %}" style="margin-bottom:5px;" alt="">
                        <img src="{% static 'img/8.jpg' %}" alt="">
                    </div>
                    <img src="{% static 'img/9.jpg' %}" style="width:390px;" alt="">
                    <img src="{% static 'img/6.jpg' %}" style="width:390px;" alt="">
                </div>
                <div class="collage-block-3">
                    <img src="{% static 'img/2.jpg' %}" style="width:370px;" alt="">
                    <img src="{% static 'img/7.jpg' %}" style="width:370px;" alt="">
                    <img src="{% static 'img/5.jpg' %}" style="width:230px;" alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock %}