{% extends 'site_base.html' %}

{% block body %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="bg"></div>
        <div class="intro-body">
            <div class="container ">
                <div class="row">
                    <div class="col-md-8 text-left">
                        <h1 class="brand-heading" style="text-transform:none;">PyCon Pune 2018</h1>
                        <p class="intro-text">February 8 - 11, 2018</p>
                    </div>
                </div>
                <a href="#about" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center"
    style="padding:5em">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>PyCon, the gathering for the community using and developing
                the open-source Python programming language. During PyCon Pune, the community will meet for two days of talks and work on upstream projects in two days of dev sprint.</p>
            </div>
        </div>
    </section>

    <!-- Venue Section
    <div id="map"></div>-->

    <!-- Volunteer Section -->
    <section id="volunteer" class="content-section text-center"
      style="color: black; background-color:white;
      width:100%;padding-bottom:5em">
        <div class="row container" style="margin:auto">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Getting Involved</h2>
                <p>PyCon Pune is a community event and is volunteer-driven.
                People from the community come forward to volunteer and help
                make the conference better. Anybody attending PyCon Pune is
                welcome to volunteer, but you must be
                <strong>registered</strong> to volunteer.</p>

                <p>If you are looking to volunteer, drop us an email.
                    <div class="network-name">
                      <a href="mailto:pyconpune@python.org?subject=Volunteer for PyCon Pune 2018" class="btn btn-default btn-lg">Get Involved</a>
                    </div>
                </p>
            </div>
        </div>
    </section>

    <!-- Sponsor Section-->
    <section id="sponsor" class="content-section text-center"
    style="padding-bottom:5em">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Sponsors</h2>
                <p>PyCon Pune is entirely driven by volunteers. Sponsoring the
                event helps to sustain, grow the conference along with the
                community. Sponsors help to make the conference affordable for
                community, and maintaining the inventory for the
                conference. </p>
                <p>Looking to become a sponsor?<br/><br/>
                    <a href="mailto:pyconpune@python.org?subject=Sponsor for PyCon Pune 2018" class="btn btn-default btn-lg"><span class="network-name">Become a Sponsor</span></a>
                </p>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center"
      style="color: black; background-color:white;
      width:100%;padding-bottom:5em">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 style="text-transform: none;">Contact PyCon Pune Team</h2>
                <p>Feel free to email us at <a href="mailto:pyconpune@python.org">pyconpune@python.org</a>
                </p>
                <label for=""><p style="font-weight:500;">To know more,
                  subscribe <a
                    href="https://mail.python.org/mailman/listinfo/pycon-pune"
                    target="_blank">to the mailing list</a></p></label>

                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/pyconpune" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/pyconpune" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/pyconpune/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}