{% extends 'site_base.html' %}
{% load staticfiles %}

{% block body %}
    <section class="no-margin no-padding">
        <div class="hero-container full-width"
             style="background-image: url(https://c1.staticflickr.com/7/6078/6049220331_068a05d59d_b.jpg)">
            <div class="col-960 col-center full-height">
                <div class="content-box text-white standard-padding blue-translucent-bg">
                    <h1 class="inline-block">PyCon <span class="text-primary">Pune</span></h1>
                    <h3 class="text-white standard-margin-top">
                        February 08 - 11, 2018 @ Amanora The Ferns Hotel and Club, Pune
                    </h3>
                    <a href="#" class="inline-block standard-margin-top">
                        <button class="btn btn-primary buy-tickets-btn">Buy Tickets</button>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

    <!-- About section -->
    <section class="no-margin section-padding float-left full-width">
        <div class="full-width">
            <div class="col-960 col-center full-height">
                <div>
                    <h2>About PyCon</h2>
                    <p class="standard-margin-top">
                        PyCon, the gathering for the community using and developing
                the open-source Python programming language. During PyCon Pune, the community will meet for two days of talks and work on upstream projects in two days of dev sprint.
                    </p>
                </div>
                <div class="schedule-block">
                    <div class="gray-bg">
                        <p class="schedule-date">8-9</p>
                        <p class="schedule-month blue-bg text-white">February</p>
                    </div>
                    <div>
                        <p class="schedule-heading">Talk</p>
                        <p class="schedule-brief">Dozens of talks chosen by the community</p>
                    </div>
                </div>
                <div class="schedule-block">
                    <div class="gray-bg">
                        <p class="schedule-date">10-11</p>
                        <p class="schedule-month blue-bg text-white">February</p>
                    </div>
                    <div>
                        <p class="schedule-heading">Dev Sprint</p>
                        <p class="schedule-brief">Team up to work on Pycon Pune</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="about-section-image" style="background-image: url(https://s-media-cache-ak0.pinimg.com/736x/94/26/d9/9426d98a6604fe95f68258963427dc24--flower-line-drawings-line-drawing-floral.jpg' %})"></div>
    </section>

    <section class="no-margin section-padding float-left full-width gray-bg">
        <div class="full-width">
            <div class="col-960 col-center full-height">
                <div>
                    <h2>Keynote Speakers</h2>
                    <p class="standard-margin-top">
                        Pycon is not focused on any particular language or area of technology. We encourage diverse topics oriented towards the future of Computer Science.
                    </p>
                </div>
                <div class="image-block-container">
                    <div class="image-block">
                        <img class="speaker-image" src="{% static 'img/brettcannon.jpeg' %}"/>
                        <div class="speaker-name float-left blue-bg text-white full-width">Brett Cannon</div>
                        <div class="clearfix"></div>
                        <p class="speaker-title float-left blue-bg text-white full-width">CPython Core Dev</p>
                    </div>
                    <div class="image-block">
                        <img class="speaker-image" src="{% static 'img/carolwilling.jpeg' %}"/>
                        <div class="speaker-name float-left blue-bg text-white full-width">Carol Willing</div>
                        <div class="clearfix"></div>
                        <p class="speaker-title float-left blue-bg text-white full-width">CPython Core Dev, Project Jupyter</p>
                    </div>
                    <div class="image-block">
                        <img class="speaker-image" src="{% static 'img/ntoll.jpeg' %}"/>
                        <div class="speaker-name float-left blue-bg text-white full-width">Nicholas Tollervey</div>
                        <div class="clearfix"></div>
                        <p class="speaker-title float-left blue-bg text-white full-width">Micro:bit, mu editor</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
{% endblock %}