{% extends 'site_base.html' %}
{% load staticfiles %}

{% block body %}
    <!-- Sponsor Section -->
    <section class="no-margin section-padding float-left full-width" id="sponsors">
        <div class="full-width">
            <div class="col-960 col-center full-height">
                <div>
                    <h2>Sponsors</h2>
                    <p class="standard-margin-top">
                        PyCon Pune is entirely driven by volunteers. Sponsoring the
                        event helps to sustain, grow the conference along with the
                        community. Sponsors help to make the conference affordable for
                        community, and maintaining the inventory for the
                        conference.
                    </p>
                </div>
                <div class="align-center">
                    <a href="mailto:pyconpune@python.org?subject=Sponsor for PyCon Pune 2018" class="inline-block standard-margin-top">
                        <button class="btn btn-primary buy-tickets-btn">Become a Sponsor</button>
                    </a>
                </div>

                <div class="section-padding col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img src="{% static 'img/RedHat.png' %}" alt="Redhat Logo" class="img-responsive">
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 img-margin-top">
                        <img src="{% static 'img/psf.png' %}" alt="PSF Logo" class="img-responsive">
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img src="{% static 'img/travisci.png' %}" alt="Travis Logo" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
{% endblock %}
