{% extends 'site_base.html' %}
{% load staticfiles %}
{% block body %}
<section class="no-margin section-padding float-left full-width">
    <div class="col-960 col-center full-height">
        <h2>Travelling to Pune</h2>
        <h3><b>By Air -</b></h3>

        <p>
            <b>Pune Airport at Lohegaon</b> serves the city and its neighboring areas. Regular flights are available from all the metropolitan and major cities in India such as the following:
            <ul>
                <li><b>Delhi:</b> Air India, Kingfisher, Jet Airways, Spicejet, Indigo</li>
                <li><b>Bangalore:</b> Air India, Go Air, Indigo, Jet Airways, Kingfisher, Spicejet</li>
                <li><b>Ahmedabad:</b> Indigo, Spicejet</li>
                <li><b>Chennai:</b> Indigo, Kingfisher, Spicejet</li>
                <li><b>Goa:</b> Air India, Kingfisher</li>
                <li><b>Kolkata:</b> Indigo, Jet Airways, Spicejet</li>
                <li><b>Hyderabad:</b> Air India, Indigo, Kingfisher, Spicejet</li>
                <li><b>Nagpur:</b> Indigo</li>
                <li><b>Mumbai:</b> Air India Express, Jet Airways</li>
                <li><b>Jaipur:</b> Spicejet</li>
            </ul>
        </p>

        <p>
            <b>List of International and domestic airlines to reach Pune:</b>

            <p>Given below is a list of the international and domestic airlines to reach Pune:</p>
            <ul>
                <li>Air India</li>
                <li>Air India Express</li>
                <li>Indigo</li>
                <li>GoAir</li>
                <li>Jagson Airlines</li>
                <li>Kingfisher</li>
                <li>Jet Airways</li>
                <li>Lufthansa</li>
                <li>Spicejet</li>
            </ul>
        </p>
    </div>

    <div class="col-960 col-center full-height">
        <h3><b>By Train -</b></h3>

        <p>
            <b>The nearest railway station is the Pune city railway station</b>
            <br>
            You can get the train details from here: <a href="https://enquiry.indianrail.gov.in/ntes/">(https://enquiry.indianrail.gov.in/ntes/)</a>
        </p>
    </div>

    <div class="col-960 col-center full-height">
        <h3><b>By Road -</b></h3>

        <p>
            <b>There are three national highways that serve Pune and they are as follows:</b><br>
        </p>

        <p>
            <b>National Highway 4</b> connects Chennai in the south and Mumbai in the west and moves across the city of Pune. National Highway 4, a segment of the Golden Quadrilateral Project, joins Pune with Bangalore as well.
        </p>

        <p>
            <b>National Highway 9</b> connects Pune with Hyderabad.<br>
        </p>

        <p>
            <b>National Highway 50</b> links Pune with Nashik.
        </p>
    </div>

    <div class="col-960 col-center full-height">
        <h2>Distance to Pune: </h2>
        <p>From Delhi - 1417 KM</p>
        <p>From Thane - 142 KM</p>
        <p>From Hyderabad - 548 KM</p>
        <p>From Nasik - 202 KM</p>
        <br>
        <p>For more info: visit <a href="https://www.mapsofindia.com/distances/pune.html">(https://www.mapsofindia.com/distances/pune.html)</a></p>
    </div>
</section>

<section class="no-margin section-padding float-left full-width gray-bg">
    <div class="col-960 col-center full-height">
        <h2>Travelling in Pune</h2>
        <h3><b>By Bus –</b></h3>

        <p>
            The public bus network in Pune is operated by the PMT and covers all areas in the city. The buses tend to be over-crowded and behind schedule. Also, it can get very confusing to figure out which bus to take if you don’t know the bus number.
        </p>

        <p>
            You can get direction for bus routes from this website <a href="http://finders.sulekha.com/pune_city-bus-routes">(http://finders.sulekha.com/pune_city-bus-routes)</a> and the PMPML website <a href="http://www.pmpml.org/">(http://www.pmpml.org/)</a> are good online resources to figure out the schedule and routes of the public buses.
        </p>

        <p>
            If you want to take a city tour and visit the major tourist attractions, you can opt for the Pune Darshan bus. You can book your tickets online via the PMPML website.
        </p>
    </div>

    <div class="col-960 col-center full-height">
        <h3><b>By Auto –</b></h3>
        <p>
            Auto rickshaws are a common mode of transport in the city and you can easily flag one down. But the drivers are known to be rude and can blatantly refuse service. So if you have to take an auto, keep the following pointers in mind:
        </p>

        <p>
            <b>Fare:</b>
            Always pay by the meter. If you plan to use autos extensively, download the Pune Auto Rickshaw tariff card to ensure the auto driver doesn’t rip you off. Between 12 AM to 5 AM, you will be charged 50 % extra.
        </p>

        <p>
            <b>Prepaid autos:</b>
            You can hire a prepaid auto round-the-clock from Shivajinagar railway station, Pune station, Swargate bus stand. The fares of these autos are regulated by the District Transport Authority.
        </p>

        <p>
            <b>Dial a rickshaw:</b>
            Ola Auto <a href="https://www.olacabs.com/ola-autos">(https://www.olacabs.com/ola-autos)</a> is a 24X7 dial-a-rickshaw service in Pune. It allows you to book an auto over the phone.
        </p>

        <p>
            <b>Six-seater:</b>
            A six-seater is a bigger version of a normal auto. They are quite common in Pune. They serve as an alternative to the bus service, but tend to be over-crowded. The fares are comparable with the public transport buses.
        </p>
    </div>

    <div class="col-960 col-center full-height">
        <h3><b>Cabs and taxis –</b></h3>
        <p>
            Taxis are not very common in Pune, though you can hire a cab using the cab rental services. Ensure that you use a reputed and reliable cab service.
        </p>

        <p>
            To get an idea about the approximate fares for taxis and autos, you can visit <a  href="https://www.taxiautofare.com/">taxiautofare.com</a>
        </p>

        <p>
            Ensure you follow traffic rules and be alert while traveling. Hope you have a safe stay in the city!
        </p>
    </div>
</section>
{% endblock%}
