{% extends 'site_base.html' %}
{% block body %}
    <section class="volunteer_info no-margin section-padding float-left full-width gray-bg">
        <div class="col-960 col-center full-height">
            <div class="volunteer_info">
                <h2> Be A Volunteer ... </h2>
                <p> PyCon Pune is a community event and is volunteer-driven.
                    People from the community come forward to volunteer and help
                    make the conference better. Anybody attending PyCon Pune is
                    welcome to volunteer, but you must be <strong>registered</strong>
                    to volunteer.
                </p>
                <p>If you are looking to volunteer, drop us an email.
                    <div>
                      <a href="mailto:pyconpune@python.org?subject=Volunteer for PyCon Pune 2018" class="btn btn-default btn-lg centered-button">Get Involved</a>
                    </div>
                </p>
            </div>
        </div>
    </section>

{% endblock%}
