{% extends 'site_base.html' %}
{% load staticfiles %}
{% block body %}

<section class="volunteers_list no-margin section-padding float-left full-width gray-bg">
    <div class="col-960 col-center full-height">
        <h2>Volunteers</h2>
        <div class="row">
        {% for v in volunteer_list %}
            <div class="volunteer-image-block col-md-4 col-xs-12">
                <div class="volunteer-image">
                    <img class="full-width" src="{% static v.image %}" />
                </div>
                <div class="volunteer-name blue-bg text-white">{{v.name}}</div>
                <div class="clearfix"></div>
                <p class="volunteer-title blue-bg text-white">{{v.description}}</p>
                <ul class="volunteer-social-buttons list-inline social-buttons">
                    <li>
                        <a href={{v.twitter}}><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href={{v.github}}><i class="fa fa-github"></i></a>
                    </li>
                </ul>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

{% endblock%}
