{% extends 'base/base_ot.html' %}

{% block title %}| Registration {% endblock %}
{% block body %}
{{ header.render_header() }}
<div class="third-fold">
  <div class="fold-1">
    <div class="white-fold">
      <div class="responsive-container">
        <h2 class='f-c no-text-transform'>College of Engineering, Pune</h2>
        <div class="underline"></div>
        <div class="segment segment-p-65 override-a-no-color-change volunteers">

          <p>PyCon Pune is organized by Python Pune Community in association with the Department of Computer Engineering and I.T. at COEP. The department is celebrating the year 2016-17 as it's Silver Jubilee year. This event is a part of the Silver Jubilee celebrations.</p>
          <h2 class="no-text-transform">Organizing Team</h2>
          <div class="underline"></div>
          <div class="row">
            <div class="col col-3 col-sm-8 col-md-4">
              <img class="spnsr" src="{{ url }}/images/vandana-inamdar.png">
              <h3>Prof. Vandana Inamdar</h3>
              <span>Head of Department of Computer Engg and IT</span>
            </div>
            <div class="col col-3 col-sm-8 col-md-4">
              <img class="spnsr" src="{{ url }}/images/abhijitam.jpg">
              <h3>Prof. Abhijit A. M.</h3>
              <span>Event Coordinator</span>
            </div>
            <div class="col col-3 col-sm-8 col-md-4">
              <img class="spnsr" src="{{ url }}/images/jigneshmangukiya.jpg">
              <h3>Prof. Jignesh Mangikiya</h3>
              <span>Department of Computer Engineering and I.T.</span>
            </div>
            <div class="col col-3 col-sm-8 col-md-4">
              <img class="spnsr" src="{{ url }}/images/pornimakolte.jpg">
              <h3>Pornima Kolte</h3>
              <span>Student Volunteer</span>
            </div>
            <div class="col col-3 col -sm-8 col-md-4">
              <img class="spnsr" src="{{ url }}/images/nupurmalpani.jpg">
              <h3>Nupur Malpani</h3>
              <span>Student Volunteer</span>
            </div>
            <div class="col col-3 col-sm-8 col-md-4">
              <img class="spnsr" src="{{ url }}/images/ajinkyachavan.jpg">
              <h3>Ajinkya Chavan</h3>
              <span>Student Volunteer</span>
            </div>
            <div class="col col-3 col-sm-8 col-md-4">
              <img class="spnsr" src="{{ url }}/images/tusharagey.jpg">
              <h3>Tushar Agey</h3>
              <span>Student Volunteer</span>
            </div>
            <div class="col col-3 col-sm-8 col-md-4">
              <img class="spnsr" src="{{ url }}/images/saketkomawar.jpg">
              <h3>Saket Komawar</h3>
              <span>Student Volunteer</span>
            </div>
            <div class="col col-3 col-sm-8 col-md-4">
              <img class="spnsr" src="{{ url }}/images/akashsarda.jpg">
              <h3>Akash Sarda</h3>
              <span>Student Volunteer</span>
            </div>
            <div class="col col-3 col-sm-8 col-md-4">
              <img class="spnsr" src="{{ url }}/images/aartikashyap.jpg">
              <h3>Aarti Kashyap</h3>
              <span>Student Volunteer</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ footer.render_footer() }}
  </div>
</div><!-- third-fold -->
{% endblock %}
