{% extends 'base/base_ot.html' %}

{% block title %}| Registration {% endblock %}
{% block body %}
{{ header.render_header() }}
<div class="third-fold">
  <div class="fold-1">
    <div class="white-fold">
      <div class="responsive-container">
        <h2 class='f-c no-text-transform'>Volunteers</h2>
        <div class="underline"></div>
        <div class="segment override-a volunteers">
          <div class="row">
            <div class="col col-3 col-sm-8 col-md-4">
              <img class="spnsr" src="{{ url }}/images/logo.png">
              <h3>Name</h3>
              <span>Resp</span>
            </div>
            <div class="col col-3 col-sm-8 col-md-4">
              <img class="spnsr" src="{{ url }}/images/logo.png">
              <h3>Name</h3>
              <span>Resp</span>
            </div> 
            <div class="col col-3 col-sm-8 col-md-4">
              <img class="spnsr" src="{{ url }}/images/logo.png">
              <h3>Name</h3>
              <span>Resp</span>
            </div>
            <div class="col col-3 col-sm-8 col-md-4">
              <img class="spnsr" src="{{ url }}/images/logo.png">
              <h3>Name</h3>
              <span>Resp</span>
            </div>
            <div class="col col-3 col-sm-8 col-md-4">
              <img class="spnsr" src="{{ url }}/images/logo.png">
              <h3>Name</h3>
              <span>Resp</span>
            </div> 
            <div class="col col-3 col-sm-8 col-md-4">
              <img class="spnsr" src="{{ url }}/images/logo.png">
              <h3>Name</h3>
              <span>Resp</span>
            </div>        
          </div>
        </div>
      </div>
    </div>

    {{ footer.render_footer() }}
  </div>
</div><!-- third-fold -->
{% endblock %}
