{% extends 'base/base.html' %}

{% import 'base/header.html' as header with context %}
{% import 'base/footer.html' as footer with context %}

{% block title %} PyCon Pune 2017 {% endblock %}

{% block body %}
{{ header.render_header() }}


<div class="third-fold">
    <div class="fold-1">
      <div class="white-fold">
        <div class="responsive-container">
          <div class="content" style="background-color: #bfbcbc;width:20%;min-height:50vh;margin:auto;">
            Content
          </div>
        </div>
      </div>

      

      {{ footer.render_footer() }}
</div><!-- third-fold -->
{% endblock %}
