<div class="payment-breakup-row">
  <h4>Order Details</h4>
</div><hr>
<div class="payment-breakup-row">
  <div class="col-lg-8"><b>Items</b></div>
  <div class="col-lg-4"><b>Prices</b></div>
  <div class="clear"></div>
</div>
<div class="payment-breakup-row" id="conference-ticket">
  <div class="col-lg-8 item"></div>
  <div class="col-lg-4 price"></div>
  <div class="clear"></div>
</div>
<div class="payment-breakup-row" id="auxiliary-ticket">
  <div class="col-lg-8 item"></div>
  <div class="col-lg-4 price"></div>
  <div class="clear"></div>
</div>
<div class="payment-breakup-row" id="tshirt-ticket-1">
  <div class="col-lg-8 item"></div>
  <div class="col-lg-4 price"></div>
  <div class="clear"></div>
</div>
<div class="payment-breakup-row" id="tshirt-ticket-2">
  <div class="col-lg-8 item"></div>
  <div class="col-lg-4 price"></div>
  <div class="clear"></div>
</div>
<hr>
<div class="payment-breakup-row" id="total-without-tax">
  <div class="col-lg-8 item">Total before tax</div>
  <div class="col-lg-4 total-price">₹0</div>
  <div class="clear"></div>
</div>
<div class="payment-breakup-row" id="tax">
  <div class="col-lg-8 item">Tax(18%)</div>
  <div class="col-lg-4 tax-price">₹0</div>
  <div class="clear"></div>
</div>
<hr>
<div class="payment-breakup-row" id="total-with-tax">
  <b><div class="col-lg-8 item">Total after tax</div></b>
  <b><div class="col-lg-4 total-price">₹0</div></b>
  <div class="clear"></div>
</div>

