.hero-container {
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-size: cover;
    height: 563px;
    position: relative;
    padding-top: 50px; /* margin-top = header's height */
    background-position: 0 50px;
}
.hero-container .content-box {
    position: relative;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.about-section-image {
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: -30px; /* margin-bottom to counter .section-padding*/
}

.schedule-block {
    float: left;
    margin: 30px 15px 30px 0;
}
.schedule-block>div {
    float: left;
    padding: 0;
    margin-right: 15px;
}
.schedule-block>div p {
    font-weight: 200;
    margin: 0;
}
.schedule-block .schedule-date {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding: 15px 20px;
}
.schedule-block .schedule-month {
    padding: 10px 20px;
}
.schedule-block .schedule-heading {
    font-size: 24px;
    font-weight: 600;
    padding: 15px 0 5px;
}
.schedule-block .schedule-brief {
    max-width: 75%;
}
.image-block {
    float: left;
    width: 22%;
    margin: 30px 15px 30px 0;
}
.image-block .speaker-image {
    float: left;
    clear: both;
    width: 100%;
}
.image-block .speaker-name {
    padding: 15px 20px 5px;
}
.image-block .speaker-title {
    padding: 0 20px 15px;
    font-size: 14px;
    font-weight: 300;
    height: 70px;
}
.image-block-container {
    display: flex;
    justify-content: space-around;
}
.sponsor-logo-container {
    display: flex;
    justify-content: space-around;
}
.sponsor-logo-container .sponsor-logo img{
    width: 200px;
}
.sponsor-logo-container .sponsor-logo {
    display: inline-block;
    padding: 40px;
}
.footer {
    margin-left: 100px;
    margin-top: 50px;
}
.footer-block {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    font-size: 12px;
    opacity: 0.6;
}
.footer-block div {
    margin-bottom: 10px;
}
.map {
    float: right;
}
.collage img {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    opacity: 1;
    filter: grayscale(0.9)  contrast(110%);
    transition: 1s filter ease;
    -webkit-transition : -webkit-filter 500ms linear
}
.collage img:hover {
    transition: all 1s ease;
    filter: grayscale(0) saturate(100%);
    opacity: 1;
}
.collage-container {
    position: relative;
}
.collage-quote {
    position: absolute;
    top: 150px;
    z-index: 1;
    left: 100px;
    background: rgba(0,1,0,0.5);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 26px 0px rgba(0,0,0,1);
}
.quote1 {
    font-size: 50px;
    color: white;
    font-weight: 700;
}
.quote2 {
    font-size: 20px;
    color: #ffd646;
    font-weight: 600;
    letter-spacing: -0.4px;
}
.collage-block-1 {
    height: 500px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin-right: 3px;
}
.collage-block-horizontal {
    width: calc(100% - 303px);
    display: inline-block;
}
.collage-block-vertical{
    display: inline-block;
    width: 200px;
}
.collage-block-2 {
    width: 100%;
    height: 250px;
    vertical-align: top;
    margin-bottom: 4px;
    overflow: hidden;
}
.collage-block-3 {
    width: 100%;
    height: 250px;
    vertical-align: bottom;
    overflow: hidden;
}
.social-buttons {
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}
ul.social-buttons li a {
    display: inline-block;
    background-color: rgb(49, 102, 163);
    color: #eeeeee;
    margin: 0;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.centered-button {
    background-color: rgb(49, 102, 163);
    color: white !important;
}

.centered-button:hover {
    background-color: white;
    color: rgb(49, 102, 163) !important;
    border: 2px solid rgb(49, 102, 163);
}

.no-borders{
    border-radius: 0px;
}
.font-w-700{
    font-weight:700;
}
.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.volunteer-image-block {
    margin: 30px 0 30px 0;
}
.volunteer-image, .volunteer-name, .volunteer-title, .volunteer-social-buttons {
    width: 80%;
    margin: 0 auto;
}
.volunteer-social-buttons {
    margin-top: 10px;
}
.volunteer-image-block .volunteer-name {
    padding: 15px 20px 5px;
}
.volunteer-image-block .volunteer-title {
    padding: 0 20px 15px;
    font-size: 14px;
    font-weight: 300;
    height: 70px;
}

.img-margin-top{
    margin-top: 20px;
}

#sponsor_types{
    margin-top: 50px;
}

/* Responsive Design (Starts) */
/* For mobiles */
@media only screen and (max-width : 767px) {
    .schedule-block {
        margin: 30px 0 0;
    }
    .schedule-block>div p {
        font-weight: 200;
        margin: 0;
    }
    .schedule-block .schedule-brief {
        max-width: 100%;
    }
    .image-block {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }
    .image-block-container {
        display: block;
    }
    .sponsor-logo-container {
        display: block;
    }
}

/* For big screens */
@media only screen and (min-width : 1700px) and (max-width : 2149px) {
    .hero-container {
        background-position: 0 -85px;
    }
}
@media only screen and (min-width : 2150px) and (max-width : 2499px) {
    .hero-container {
        background-position: 0 -150px;
    }
}

@media only screen and (min-width : 2500px){
    .hero-container {
        background-position: 0 -250px;
    }
}
/* Responsive Design (Ends) */
