{% extends 'base/base_ot.html' %}

{% block title %}| Hotel Suggestions {% endblock %}
{% block body %}
{{ header.render_header() }}
<div class="third-fold">
  <div class="fold-1">
    <div class="white-fold">
      <div class="responsive-container">
        <h2 class='f-c no-text-transform'>Hotel Suggestions for PyCon Pune 2017</h2>
        <div class="underline"></div>
        <div class="segment override-a">
           <div class="col col-10">
              <div class="ticket-price"><b>Hotels near Train Station</b></div>
            </div>
          <div class="row">
            <div class="col col-4">
              <div class="col-text ticket-title"><a href="https://www.oyorooms.com/hotels-in-pune/">Oyo premium</a></div>
              <div class="col-text">Opposite Ambedkar Bhavan, Pune</div>
            </div>
            <div class="col col-2">
              <div class="col-text center">2 km from COEP </div>
            </div>
            <div class="col col-3">
              <div class="col-text center"> PMT Bus No. 139 towards Ambedkar bhavan</div>
            </div>
            <div class="col col-1">
              <a class="register-link" target="_blank" href="https://www.google.co.in/maps/dir/COEP+Main+Building,+RB+Motilal+Kennedy+Road,+Shivajinagar,+Pune,+Maharashtra/OYO+Rooms+in+Pune,+Office+No:+304%2F305,+3rd+Floor+of+D+Gold+House,+1180%2F4,+Behind+Bharat+Petrol+Pump,Dnyaneshwar+Paduka+Chowk,+FC+Road,+Shivaji+Nagar,+Pune,+Maharashtra+411004/@18.5215387,73.837046,15z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3bc2c062877e2bd3:0x9412e4c5a343a571!2m2!1d73.8566414!2d18.5292941!1m5!1m1!1s0x3bc2bf8f5cb04d43:0x2b27af975838980f!2m2!1d73.834868!2d18.515729"><div class="col-text center register-btn">Google Maps</div></a>
            </div>
          </div>
          <div class="row">
            <div class="col col-4">
              <div class="col-text ticket-title"><a href="http://www.shivamhotel.com/#">Hotel Shivam</a></div>
              <div class="col-text">Hotel Shivam, 12, Wilson Garden, Near Pune Railway Station, Pune, Maharashtra 411001</div>
            </div>
            <div class="col col-2">
              <div class="col-text center">2.3 km from COEP</div>
            </div>
            <div class="col col-3">
              <div class="col-text center">PMT Bus No. 165 towards Kumbhar wada and Bus No. 11 towards Shivaji Putala</div>
            </div>
            <div class="col col-1">
              <a class="register-link" target="_blank" href="https://www.google.co.in/maps/dir/COEP+Main+Building,+RB+Motilal+Kennedy+Road,+Shivajinagar,+Pune,+Maharashtra/Hotel+Shivam,+12,+Wilson+Garden,+Near+Pune+Railway+Station,+Pune,+Maharashtra+411001/@18.5236561,73.8474184,14z/am=t/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x3bc2c062877e2bd3:0x9412e4c5a343a571!2m2!1d73.8566414!2d18.5292941!1m5!1m1!1s0x3bc2c058e8d9e15b:0x95321f6b8e94cfc3!2m2!1d73.874307!2d18.5266954!2m2!4e3!5e0!3e3"><div class="col-text center register-btn">Google Maps</div></a>
            </div>
          </div>
          <div class="row">
            <div class="col col-4">
              <div class="col-text ticket-title disabled"><a href="http://www.studioestique.com/">Hotel Studio Estique</a></div>
              <div class="col-text">Amar Avinash Corporate Plaza, Near Inox Multiplex, Bund Garden Road, Pune, Maharashtra 411001</div>
            </div>
            <div class="col col-2">
              <div class="col-text center">2.9 km from COEP</div>
            </div>
            <div class="col col-3">
              <div class="col-text center">PMT Bus No 139 towards sadhu vasvani chouk</div>
            </div>
            
            <div class="col col-1">
              <a class="register-link" target="_blank" href="https://www.google.co.in/maps/dir/COEP+Main+Building,+RB+Motilal+Kennedy+Road,+Shivajinagar,+Pune,+Maharashtra/Hotel+Studio+Estique+pune/@18.5274501,73.8587738,15z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3bc2c062877e2bd3:0x9412e4c5a343a571!2m2!1d73.8566414!2d18.5292941!1m5!1m1!1s0x3bc2c0575ae5fde5:0xdad73adf06d39a7f!2m2!1d73.8778552!2d18.5274965"><div class="col-text center register-btn">Google Maps</div></a>
            </div>
            </div>

            
            <div class="col col-10">
              <div class="ticket-price"><br><br><b>Hotels Near Magarpatta</b></div>
            </div>
          <div class="row">
            <div class="col col-4">
              <div class="col-text ticket-title"><a href="https://www.fabhotels.com/hotels-in-pune/fabhotel-bhagyashree-magarpatta.html">FabHotel Bhagya Shree Magarpatta</a></div>
              <div class="col-text">Sr.No. 169/1+2+3, Tupe Nagar, Behind Suzlon Co., Near Township, Amanora, Amanora Park Town, Hadapsar, Pune, Maharashtra 411028</div>
            </div>
            <div class="col col-2">
              <div class="col-text center">11 km from COEP</div>
            </div>
            <div class="col col-3">
              <div class="col-text center"> ...</div>
            </div>
            <div class="col col-1">
              <a class="register-link" target="_blank" href="https://www.google.co.in/maps/dir/COEP+Main+Building,+RB+Motilal+Kennedy+Road,+Shivajinagar,+Pune,+Maharashtra/fabhotel+bhagyashree+magarpatta+pune/@18.5178005,73.86198,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3bc2c062877e2bd3:0x9412e4c5a343a571!2m2!1d73.8566414!2d18.5292941!1m5!1m1!1s0x3bc2c21f957f5b21:0x8e20453132882283!2m2!1d73.9376328!2d18.512411"><div class="col-text center register-btn">Google Maps</div></a>
            </div>
          </div>
          <div class="row">
            <div class="col col-4">
              <div class="col-text ticket-title"><a href="https://www.fabhotels.com/hotels-in-pune/fabhotel-sagar-inn-hadapsar.html">FabHotel Sagar Inn Hadapsar</a></div>
              <div class="col-text">Sagar Inn, Sr. No. 77/02, Solapur-Pune Highway, Laxmi colony, Hadapsar, Pune, Maharashtra 411028</div>
            </div>
            <div class="col col-2">
              <div class="col-text center">12 km from COEP</div>
            </div>
            <div class="col col-3">
              <div class="col-text center"> ...</div>
            </div>
            <div class="col col-1">
              <a class="register-link" target="_blank" href="https://www.google.co.in/maps/dir/COEP+Main+Building,+RB+Motilal+Kennedy+Road,+Shivajinagar,+Pune,+Maharashtra/Fab+Hotel+Sagar+Inn+Hadapsar+pune/@18.5143134,73.8728409,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3bc2c062877e2bd3:0x9412e4c5a343a571!2m2!1d73.8566414!2d18.5292941!1m5!1m1!1s0x3bc2c20b5a81a665:0xa17dca399132b99f!2m2!1d73.958749!2d18.49782"><div class="col-text center register-btn">Google Maps</div></a>
            </div>
          </div>
            
          </div>
        </div>
      </div>
    </div>

    {{ footer.render_footer() }}
  </div>
</div><!-- third-fold -->
{% endblock %}
