{% macro render_footer(test='') %}
	<div class="footer">
        <img src="../images/footer.png" />
        <div class="extended-footer">
          <div class="organized">
            <div class="social">
                <a href="https://twitter.com/pyconpune">
                    <i class="fa fa-twitter-square social-tw" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/PyConPune">
                    <i class="fa fa-github-square social-gh" aria-hidden="true"></i>
                </a>
                <a href="https://facebook.com/pyconpune/">
                    <i class="fa fa-facebook-square social-fb" aria-hidden="true"></i>
                </a>
            </div>
          </div>
        </div>

        <div class="clear"></div>
    </div>
{% endmacro %}
